.min{
    width: 25%;
}
.max{
    width:45%;
}
div{
    text-align: center;
}
input{
    all:unset;
    padding: 3px;
    background: rgba(255,255,255,0.4);
    text-align: left;
    border: 1px solid black;
}
body {
    width: 100%;
    height: max-content;
    margin: 0;
    overflow: hidden;
    overflow-y: auto;
    background: linear-gradient(135deg, #479fcb 0%, #319353 100%);
    font-family: "Helvetica Neue", "Futura", "Trebuchet MS", Arial;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

html {
    height: max-content;
}
button{
    all:unset;
    padding: 5px;
    font-size: 20px;
    background: rgba(255,255,255,0.7);
    margin:10px;
}
.selectList{
    margin:20px;
    text-align: center;
}