body {
    width: max-content;
    height: 100%;
    padding-right: 50px;
    padding-left: 50px;
    margin: 0;
    overflow: hidden;
    overflow-y: auto;
    background: #bb71f3;
    background: -moz-linear-gradient(-45deg, #bb71f3 0%, #3d4d91 100%);
    background: -webkit-linear-gradient(-45deg, #bb71f3 0%, #3d4d91 100%);
    background: linear-gradient(135deg, #bb71f3 0%, #3d4d91 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bb71f3', endColorstr='#3d4d91', GradientType=1);
    font-family: "Helvetica Neue", "Futura", "Trebuchet MS", Arial;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: column;
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

div {
    background: rgba(255, 255, 255, 0.2);
    text-align: center;
    color: white;
    padding: 10px 50px 30px;
}

.controls {
    text-align: right;
}
.controls button{
    margin: 2px;
}